/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

a:hover {
  color: #3534a6;
  background-color: transparent;
}

body {
  padding: 0;
  margin: 0;
  background-color: #c7e2fa;
}

header {
  display: block;
}

nav {
  height: 50px;
  width: 100%;
  box-shadow: 0 1px 4px grey;
  padding: 5px 10px 5px 30px;
  background-color: white;
}

.logo {
  float: left;
}

.logo img{
  height: 50px;
}

.menu {
  float: left;
}

ul.menu {
  padding-left: 30px;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
}

.menu li {
  padding: 5px;
  display: inline-block;
}

#wrapper {
  padding: 20px;
}

table {
  border-collapse: collapse;
}
td {
  padding: 10px;
}
thead {
  text-align: left;
  background: #15397c;
  color: white;
}
thead th {
  padding: 10px;
}
tr.even {
  background: white;
}
tr.odd {
  /*background: #e6e6e6;*/
}
