// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
  border-collapse: collapse;
}
td {
  padding: 10px;
}
thead {
  text-align: left;
  background: #15397c;
  color: white;
}
thead th {
  padding: 10px;
}
tr.even {
  background: #ffffe0;
}
tr.odd {
  background: #e6e6e6;
}
