.row
  .col.s12.m8.offset-m2
    %p#notice= notice
    %h1 Listing Tasks

    %table
      %thead
        %tr
          %th Name
          %th Project
          %th{ colspan: "3"}
      %tbody#tasks
        = render @tasks
    %br

    = render 'form'

    %br

    = link_to 'New Task', new_task_path
