<% provide(:title, "Home")%>
<h1>This is home</h1>
<h3><%=get_random_welcome%></h3>

<p>
  <strong>Show The season:</strong>
</p>
<p>
  <%= get_season %>
</p>
<p>
  <strong>Show a random number:</strong>
</p>
<p>
  <%= get_random_value 99 %>
</p>
