<h1>This is home, welcome</h1>

<div class="box">
  <ul class="menu">
    <li>
      <%= link_to "Users", users_path %>
    </li>
    <li>
      <%= link_to "Projects", projects_path %>
    </li>
    <li>
      <%= link_to "Tasks", tasks_path %>
    </li>
    <li>
      <%= link_to "About", pages_about_path %>
    </li>
  </ul>
</div>
